section#buttons {

    >div {
        @extend.d-flex;
        @extend .justify-content-evenly;
        @extend .mt-5;
        @extend .text-center;
    }

    button {
        &.mood {
            @extend .mb-1;
            @extend .btn;
            @extend .raise;
            @extend .p-2;

            border-radius: 50%;
            


            width: 8vw;
            min-width: 4em;
            height: 8vw;
            min-height: 4em;

            
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: content-box;
            transition: 0.25s;

            

            @each $name,
            $color in $buttons-map {
                &.#{$name} {
                    background-color: #{$color};
                    --hover: #{$color};
                    border-color: darken($color: $color, $amount: 30%);
                }
            }
        }

    }

    span {
        @extend .text-muted;
        @extend .text-center;
        display: block;
        font-style: italic;
    }

    h5{
        @extend .mt-5;
        @extend .text-center;
        @extend .text-muted;
    }
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.85em 0.85em -0.4em var(--hover);
    transform: translateY(-0.85em);
}