$great-color: rgba(0, 140, 255, 0.5);
$good-color: rgba(36, 214, 0, 0.5);
$neutral-color: rgba(255, 238, 0, 0.5);
$sad-color: rgba(81, 43, 114, 0.5);
$angry-color: rgba(255, 0, 0, 0.5);
$btn-close-width: 0.75em;
$buttons-map: (
    "great": $great-color,
    "good": $good-color,
    "neutral": $neutral-color,
    "sad": $sad-color,
    "angry": $angry-color,
);