@import "variables";
@import "~/node_modules/bootstrap/scss/bootstrap";




body {
    @extend .pt-2;
    @extend .mt-2;
}

@media (max-width: 978px) {
    body {
        margin-top: .5em !important;
        padding-top: .5em !important;
    }
}

main#app {
    @extend .container;


    section {
        &.feedback {
            @extend .mt-5;
            @extend .text-center;
        }
    }
}


section#alerts{
    @extend .mt-4;
    @extend .text-center;

    > div {
        @extend .d-flex;
        @extend .align-items-center;

        display: inline-block !important;
    }
}


@import "header";
@import "mood-buttons";