<template>
  <header>
    <h1>How are you today ?</h1>
  </header>
</template>

<script>

export default {
  name: 'MoodHeader',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
