<template>
  <section id="buttons">
    <div>
      <MoodButton v-for="(item, index) in firstRowMoods" :key="`${item.id}-${index}`" :mood="item"
        @mood-click="(mood) => $emit('moodClick', mood)" />
    </div>
    <div>
      <MoodButton v-for="item in secondRowMoods" v-bind:key="item" :mood="item"
        @mood-click="(mood) => $emit('moodClick', mood)" />
    </div>
  </section>
</template>

<script>
import MoodButton from "./MoodButton.vue"
export default {
  name: 'MoodButtonList',
  components: {
    MoodButton
  },
  emits: ['moodClick'],
  data() {
    return {
      firstRowMoods: ["Great", "Good", "Neutral"],
      secondRowMoods: ["Sad", "Angry"]
    }
  }
}
</script>

<style scoped>
</style>
