<template>
  <div>
    <button type="button" @click="$emit('moodClick', mood)" class="mood" :class="lowerMood"
      v-bind:style="{ 'background-image': 'url(' + createMoodImageURL() + ')' }"></button>
    <span>{{ mood }}</span>
  </div>
</template>

<script>
export default {
  name: 'MoodButton',
  props: {
    mood: String
  },
  computed: {
    lowerMood() {
      return this.mood.toLowerCase()
    }
  },
  emits: ['moodClick'],
  methods: {
    createMoodImageURL() {
      let images = require.context('@/assets/', false, /\.svg$/)
      return images('./' + this.lowerMood + ".svg")
    }
  }
}
</script>


<style>
</style>
