<template>
  <nav class="navbar fixed-bottom navbar-dark bg-dark ">
    <div class="d-flex justify-content-center align-items-center mx-auto">
      <a class="navbar-brand mx-2" :href="this.authUrl">Smiley</a>
    </div>
  </nav>
</template>

<script>
import AuthLib from "@/cognito"
export default {
  name: 'MoodFooter',

  data() {
    return {
      authUrl : AuthLib.getAuthURL()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
