<template>
  <MoodHeader />
  <MoodButtonList @mood-click="moodhandler" />
  <SuccessAlert v-show="showSuccess" message="Vote successfully saved!" />
  <FailureAlert v-show="showFailure" />
  <MoodNavbar />
</template>

<script>
import AuthLib from "@/cognito"
import LambdaLib from "@/lambda"
import MoodButtonList from "./components/MoodButtonList.vue"
import MoodHeader from "./components/MoodHeader.vue"
import MoodNavbar from "./components/MoodNavbar.vue"
import SuccessAlert from "./components/SuccessAlert.vue"
import FailureAlert from "./components/FailureAlert.vue"

export default {
  name: 'App',
  components: {
    MoodHeader,
    MoodNavbar,
    MoodButtonList,
    SuccessAlert,
    FailureAlert
  },
  data() {
    return {
      authToken: "",
      showSuccess: false,
      showFailure: false
    }
  },
  async beforeMount() {
    if (!this.authToken) {
      const authResponse = await AuthLib.manageAuthentication();
      if (authResponse) {
        this.authToken = authResponse
      }
    }
  },
  async mounted() {
    document.title = process.env.VUE_APP_TITLE
  },
  methods: {
    moodhandler: function (mood) {
      LambdaLib.invokeMoodLambda(this.authToken, mood)
        .then(() => { this.showSuccessAlerts() })
        .catch(() => { this.showFailureAlerts() })
    },

    showSuccessAlerts: function () {
      this.showSuccess = true;
      this.showFailure = false;
      setTimeout(() => { this.hideAlerts() }, 3000);
    },

    showFailureAlerts: function() {
      this.showSuccess = false;
      this.showFailure = true;
    },

    hideAlerts: function(){
      this.showSuccess = false;
      this.showFailure = false;
    }
  }
}
</script>

<style>

</style>
